{% extends "base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
	<section id="account">
		<article id="userinfo">
			<div class="pfp">
				<img src="https://cdn.discordapp.com/avatars/{{account.discordId}}/{{account.avatar}}.png"> {{account.username}}
			</div>
		</article>
		<div class="container">
			<article>
				<header>
					Admin Settings
				</header>
				Nothing Yet
			</article>
			<article>
				<header>
					Members
				</header>
				<p>Delete function works, ban does not yet.</p>
				<table>
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Username</th>
							<th scope="col">HF UID</th>
							<th scope="col">Options</th>
						</tr>
					</thead>
					<tbody>
						{% for member in members %}
							<tr>
								<th scope="row">{{member.id}}</th>
								<td>{{member.username}}</td>
								<td>{{member.hf_uid}}</td>
								<td>
									<div class="grid optionbuttons">
										<button data-target="modal-user-{{member.id}}" onClick="toggleModal(event)">Delete</button>
										<button>Ban</button>
									</div>
								</td>
							</tr>
							<!-- Modal Delete Account -->
							<dialog id="modal-user-{{member.id}}">
							<article>
								<a aria-label="Close"
									class="close"
									data-target="modal-user-{{member.id}}"
									onClick="closeModal(visibleModal)">
								</a>
								<h3>Confirm your action!</h3>
								<p>
									This is permanent. Are you sure you want to remove {{member.username}}?
								</p>
								<footer>
									<div class="grid">
										<button
										role="button"
										class="secondary"
										data-target="modal-user-{{member.id}}"
										onClick="closeModal(visibleModal)">
										Cancel
										</button>
										<button
										role="button"
										data-target="modal-user-{{member.id}}"
										onclick="parent.location='{{url_for('deleteuseracc')}}?id={{member.id}}'">
										Delete user account
										</button>
									</div>
								</footer>
							</article>
							</dialog>
						{% endfor %}
					</tbody>
				</table>
			</article>
		</div>
	</section>
{% endblock %}