{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
	<section id="account">
		<article id="userinfo">
			<div class="pfp">
				<img src="https://cdn.discordapp.com/avatars/{{account.discordId}}/{{account.avatar}}.png"> {{account.username}}
			</div>
		</article>
		{% if not account.hf_uid or account.hf_uid == 'False' %}
			<article class="hcenter noti" onclick="window.open('https://hackforums.net/api/v2/authorize?response_type=code&client_id={{hf.client}}&state={{name}}')">
				<div class="container">
					Please click here to link your HF profile!
				</div>
			</article>
		{% endif %}
		{% if account.isadmin == 'True' %}
			<article class="hcenter noti" onclick="parent.location='{{url_for('admin')}}'">
				<div class="container">
					Admin Settings
				</div>
			</article>
		{% endif %}
		{% if account.isdev == 'True' %}
			<article class="hcenter noti" onclick="parent.location='{{url_for('developer')}}'">
				<div class="container">
					Developer Settings
				</div>
			</article>
		{% endif %}
		<div class="container accountsettings">
			<article>
				<header>
					Settings
				</header>
				<!-- Button to trigger the modal -->
				<div class="grid email">
					<div>
						<label for="email">Email address</label>
						<input type="email" id="email" name="email" value="{{account.email}}" readonly>
						<small>We'll never share your email with anyone else.</small>
					</div>
					<div>
						<button data-target="model-delete-email" onClick="toggleModal(event)">
						Delete Email
						</button>
					</div>
				</div>
				<hr>
				{% if account.isdev == 'True' %}
				<div class="container">
					<p class="hcenter">This is for testing purposes only and it will be removed.</p>
					<button data-target="model-delete-account" onClick="toggleModal(event)">
						Delete Account
					</button>
				</div>
				<hr>
				{% endif %}
			</article>
		</div>
		<!-- Modal Delete Email -->
		<dialog id="model-delete-email">
		<article>
			<a aria-label="Close"
				class="close"
				data-target="model-delete-email"
				onClick="closeModal(visibleModal)">
			</a>
			<h3>Confirm your action!</h3>
			<p>
				If you delete your email we will not be able to recover your account later on.
				You're given this option so we don't store your email address.
			</p>
			<footer>
				<div class="grid">
					<button
					role="button"
					class="secondary"
					data-target="model-delete-email"
					onClick="closeModal(visibleModal)">
					Cancel
					</button>
					<button
					role="button"
					data-target="model-delete-email"
					onclick="parent.location='{{url_for('deleteemail')}}'">
					Delete my email
					</button>
				</div>
			</footer>
		</article>
		</dialog>
		<!-- Modal Delete Account -->
		<dialog id="model-delete-account">
		<article>
			<a aria-label="Close"
				class="close"
				data-target="model-delete-account"
				onClick="closeModal(visibleModal)">
			</a>
			<h3>Confirm your action!</h3>
			<p>
				This is permanent. Are you sure you want to remove your account?
			</p>
			<footer>
				<div class="grid">
					<button
					role="button"
					class="secondary"
					data-target="model-delete-account"
					onClick="closeModal(visibleModal)">
					Cancel
					</button>
					<button
					role="button"
					data-target="model-delete-account"
					onclick="parent.location='{{url_for('deleteacc')}}'">
					Delete my account
					</button>
				</div>
			</footer>
		</article>
		</dialog>
	</section>
{% endblock %}